{% extends 'base.html.twig' %}

{% block body %}

<div class="container mb-5 marginNavbar"> 
  {% if is_granted('ROLE_USER') %}
  <div class="d-flex flex-column align-items-center mt-5 mb-5" style="background-color: #ffffff; padding: 20px; border: 1px solid green; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <h1 class="text-center m-0 colorText"> Retrouvez des Recettes Personnalisées par rapport à vos régimes et allergènes</h1>
    </div>
  {% else %}
   <div class="d-flex flex-column align-items-center mt-5 mb-5" style="background-color: #ffffff; padding: 20px; border: 1px solid green; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 10px;">
  <h1 class="text-center colorText m-0">Retrouvez des recettes adaptées à tous les régimes</h1>
</div>



  {% endif %}
  

<div class="row justify-content-center mb-5 mt-5">
      <div class="col-10 col-md-8 col-lg-6 mt-5 mb-5">
        <div class="card shadow mb-4">
          <img src="{{ asset('pictures/bowl.jpg') }}" class="card-img-top" alt="repas" width="604" height="455">
          <div class="card-body">
            <h5 class="card-title mb-4 mt-3 text-center fs-3">Bowl Cake</h5>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Description :</h6>
              <p class="card-text mb-3">Ce délicieux bol contient une combinaison de fruits frais, de flocons d'avoine riches en fibres, 
              de graines de chia pleines d'antioxydants et de crème de soja pour une touche de douceur. </p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de préparation :</h6>
              <p class="card-text mb-3">5 minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de cuisson :</h6>
              <p class="card-text mb-3">2 minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Ingrédients :</h6>
              <p class="card-text mb-3">fraises, framboises, creme de soja, graines de chia, mures, flocons d'avoine</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Étapes de la recette :</h6>
              <p class="card-text mb-3">Mixez les fruits avec la creme de soja, puis rajouter les flocons d'avoine ainsi que les graines de chia. 
              Pour finir, faites chauffer au micro-onde pendant 2 minutes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-5 mt-5">
      <div class="col-10 col-md-8 col-lg-6 mt-5 mb-5">
        <div class="card shadow mb-4">
          <img src="{{ asset('pictures/clafoutis.jpeg') }}" class="card-img-top" alt="repas" width="604" height="455">
          <div class="card-body">
            <h5 class="card-title mb-4 mt-3 text-center fs-3">Clafoutis</h5>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Description :</h6>
              <p class="card-text mb-3">Cette délicieuse pâtisserie se caractérise par une texture tendre et crémeuse, 
              avec une couche légèrement croustillante sur le dessus. </p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de préparation :</h6>
              <p class="card-text mb-3">10 minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de cuisson :</h6>
              <p class="card-text mb-3">45 minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Ingrédients :</h6>
              <p class="card-text mb-3">Groseilles (ou tout autre fruit de saison), Œufs, Sucre, Farine, Lait, Extrait de vanille,Beurre</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Étapes de la recette :</h6>
              <p class="card-text mb-3">Préchauffez votre four à 180°C (350°F), beurrez un moule à gratin ou un plat à tarte puis
                disposez les groseilles uniformément dans le fond du moule. Dans un bol, fouettez les œufs avec le sucre 
                jusqu'à ce que le mélange soit léger et mousseux. Ajoutez la farine, puis versez lentement le lait en remuant constamment pour éviter les grumeaux.
                Incorporez l'extrait de vanille à la préparation, versez délicatement le mélange sur les groseilles dans le moule. 
                Enfournez et faites cuire pendant environ 45 minutes, 
                Laissez refroidir légèrement avant de servir, saupoudrez éventuellement de sucre glace et dégustez !</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% for recipe in recipes %}
    <div class="row justify-content-center mb-5 mt-5">
      <div class="col-10 col-md-8 col-lg-6 mt-5 mb-5">
        <div class="card shadow mb-4">
          <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="{{ recipe.name }}" width="634" height="475">
          <div class="card-body">
            <h5 class="card-title mb-4 mt-3 text-center fs-3">{{ recipe.name }}</h5>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Description :</h6>
              <p class="card-text mb-3">{{ recipe.description }}</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de préparation :</h6>
              <p class="card-text mb-3">{{ recipe.preparationtime }} minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Temps de cuisson :</h6>
              <p class="card-text mb-3">{{ recipe.cookingtime }} minutes</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Ingrédients :</h6>
              <p class="card-text mb-3">{{ recipe.ingredients }}</p>
            </div>
            
            <div class="detail">
              <h6 class="fw-bold colorText">Étapes de la recette :</h6>
              <p class="card-text mb-3">{{ recipe.preparation }}</p>
            </div>
            
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card-footer d-flex justify-content-center mt-4">
              <a href="{{ path('deleterecipe', {'id': recipe.id}) }}" class="btn btn-secondary colorText btnColor btn-sm me-1">
                <i class="fas fa-trash"></i>
                Supprimer
              </a>
              <a href="{{ path('editrecipe', {'id': recipe.id}) }}" class="btn btn-secondary colorText btnColor btn-sm">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if is_granted('ROLE_USER') %}
    <section class="mb-5">
      <div class="stars d-flex justify-content-center mb-2" id="stars-{{ recipe.id }}" data-recipe="{{ recipe.id }}" data-average-rating="{{ recipe.note }}">
        <i class="lar la-star" data-value="1"></i>
        <i class="lar la-star" data-value="2"></i>
        <i class="lar la-star" data-value="3"></i>
        <i class="lar la-star" data-value="4"></i>
        <i class="lar la-star" data-value="5"></i>
      </div>
      <div class="average-rating d-flex justify-content-center colorText">
        <input type="hidden" id="note" value="0">
        Note moyenne : <span>{{ recipe.note|number_format(1) }}</span>
      </div>
      <div class="total-ratings d-flex justify-content-center colorText">
        Nombre total de notes : <span>{{ recipe.totalRatings }}</span>
      </div>
    </section>
    {% endif %}
    
  {% endfor %}
  
</div>

{% endblock %}
