{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-5"> 
  <h1 class="text-center mb-5">Recettes</h1>
  {% for recipe in recipes %}
  <div class="row d-flex justify-content-center">
    <div class=" col-10 col-md-8 col-lg-6">
      <div class="card mb-4">
        <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="{{ recipe.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <div class="detail">
            <h6 class="fw-bold">Nom :</h6>
            <p class="card-text">{{ recipe.name }}</p>
          </div>
          <div class="detail">
            <h6 class="fw-bold">Description :</h6>
            <p class="card-text">{{ recipe.description }}</p>
          </div>
          <div class="detail">
            <h6 class="fw-bold">Temps de préparation :</h6>
            <p class="card-text">{{ recipe.preparationtime }} minutes</p>
          </div>
          <div class="detail">
            <h6 class="fw-bold">Temps de cuisson :</h6>
            <p class="card-text">{{ recipe.cookingtime }} minutes</p>
          </div>
          <div class="detail">
            <h6 class="fw-bold">Ingrédients :</h6>
            <p class="card-text">{{ recipe.ingredients }}</p>
          </div>
          <div class="detail">
            <h6 class="fw-bold">Étapes de la recette :</h6>
            <p class="card-text">{{ recipe.preparation }}</p>
          </div>
          {% if ( is_granted('ROLE_ADMIN') ) %}
									<div class="card-footer d-flex justify-content-center">
										<a href="{{ path('deleterecipe', {'id': recipe.id}) }}" class="btn btn-sm me-1 adminButton">
											<i class="fas fa-trash"></i>
											Supprimer</a>
										<a href="{{ path('editrecipe', {'id': recipe.id}) }}" class="btn btn-sm adminButton">
											<i class="fas fa-edit"></i>
											Modifier</a>
									</div>
              {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
